http://krrr.work:8080 {
        redir 301 {
                / https://hazama.cc/work
        }
        log ../access.log
}

https://krrr.work:8443 {
        redir https://hazama.cc/work{uri}
        tls {
                dns cloudflare
        }
}

http://hazama.cc:8080 {
        root /www/krrr.github.io/
        ext .html .htm
}