http://krrr.work {
        redir 301 {
                if {>Upgrade} not_match [Ww]eb[Ss]ocket
                / https://{host}{uri}
        }

        proxy / localhost:1080 {
                websocket
        }

        log access.log
}

https://krrr.work {
        root /www/krrr.github.io/work
        git https://github.com/krrr/krrr.github.io.git ../

        log browse.log
}
